<div class="wrapper">
  <!-- Title -->
  <div class="title">Lewis Hamilton: The incredible journey</div>
  <!-- Spinner -->
  <mat-spinner
    *ngIf="!spinnerHidden"
    class="spinner"
    color="accent"
  ></mat-spinner>
  <!-- Starting overlay -->
  <div [ngClass]="{ hide: spinnerHidden }" class="hider"></div>

  <!-- Form for change distance to station -->
  <div class="radius__selector">
    <mat-radio-group
      class="chargers__options"
      aria-label="Select an option"
      [(ngModel)]="selectedChargersStatus"
      (change)="chargesChange()"
    >
      <mat-radio-button [value]="1">All</mat-radio-button>
      <mat-radio-button [value]="2">Fast Chargers</mat-radio-button>
    </mat-radio-group>
    <hr />
    <mat-form-field appearance="fill">
      <mat-label>Distance to stations</mat-label>
      <mat-select [(value)]="distanceToStation">
        <mat-option [value]="2">2 km</mat-option>
        <mat-option [value]="3">3 km</mat-option>
        <mat-option [value]="5">5 km</mat-option>
        <mat-option [value]="10">10 km</mat-option>
        <mat-option [value]="20">20 km</mat-option>
        <mat-option [value]="50">50 km</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      class="submit"
      (click)="submitDistanceChange()"
      aria-label="Change distance to station"
    >
      Change
    </button>
  </div>

  <!-- Map container -->
  <div id="map"></div>

  <!-- Funny LH image -->
  <div *ngIf="spinnerHidden" class="lewis__image">
    <img src="../../../assets/LH.png" alt="Lewis Hamilton" />
  </div>
</div>
